body {
    color: white;
    background-color:#1b99ca;
    font-family:Arial, Helvetica, sans-serif
}

ul {
    display: flex;
    justify-content: space-between; 
    list-style-type: none;
    align-items: center; 
    padding: 16px;
}

a {
    color:white;
    text-decoration: none;
    text-align: center;
}
nav a:hover {
    color:blue
}